* {
  box-sizing: border-box;
}

a {
  color: #fff;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

body {
  background-color: #3e6c97;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}

li {
  list-style: none;
  /* text-align: -webkit-match-parent; */
}

div {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: normal;
}

.root {
  display: grid;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.nav-bar {
  display: grid;
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-self: center;
  margin-top: 10px;
  padding: 0.96rem 0.96rem 0 0.96rem;
}

.nav-list-item {
  font-size: 0.8889rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
}

.nav-logo {
  height: 3vw;
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
}

.waves {
  position: absolute;
  right: 0;
  top: 0;
  width: 200vw;
  z-index: -1;
}

.greeting {
  color: #fff;
  font-size: 2.2018rem;
  font-weight: 300;
  line-height: 1.25rem;
  margin: 15px 0 30px 0;
  text-align: center;
  text-shadow: 0 1.1px 2px rgba(0, 0, 0, 0.25);
}

.nav-logo:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
    0 1px 6px rgba(0, 0, 0, 0.15);
  justify-self: center;
  margin: auto;
  margin-top: 15%;
  max-width: 600px;
  padding-bottom: 2.45rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2.45rem;
  position: relative;
  text-align: center;
}
.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

@media only screen and (min-width: 1200px) {
  .waves {
    top: -10vh;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    padding-left: 3.45rem;
    padding-right: 3.45rem;
  }
  .waves {
    width: 100vw;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    padding-left: 3.45rem;
    padding-right: 3.45rem;
  }
  .nav-list-item {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .waves {
    top: -20vh;
    width: 125vw;
  }
}
